{% extends 'home/base.html' %}

{% block content %}
    <p>Bariloche, ubicada en la Patagonia argentina, es un paraíso natural que te dejará sin aliento. Con sus imponentes montañas, lagos cristalinos y bosques exuberantes, es un destino perfecto para los amantes de la naturaleza y los deportes al aire libre. Disfruta de actividades como el esquí, el senderismo y la navegación en el famoso Lago Nahuel Huapi. Además, su encantadora arquitectura alpina y su exquisita gastronomía lo convierten en un lugar ideal para relajarse y disfrutar de la vida. Descubre la belleza y la magia de Bariloche en cada rincón.</p>
{% endblock %}