{% extends 'home/base.html' %}

{% block content %}
    <p>Las Cataratas del Iguazú, ubicadas en la frontera de Argentina y Brasil, son un espectáculo natural impresionante. Con más de 270 cascadas a lo largo de casi 3 kilómetros, estas cataratas te dejarán maravillado. Explora el Parque Nacional Iguazú, admira la majestuosa Garganta del Diablo y sumérgete en un entorno natural único. Descubre la grandeza de las Cataratas del Iguazú, una maravilla natural que te dejará sin palabras.</p>
    <div class="d-grid gap-3">
        <a class="btn btn-primary btn-block" href="{% url 'producto:producto_todoproducto_detail' %}">Todos los destinos</a>
    </div>
{% endblock %}