{% extends 'home/base.html' %}

{% block content %}
    <p>Jujuy, un destino cautivador en el noroeste argentino, te sorprenderá con su impresionante belleza natural y su rica herencia cultural. Desde la majestuosidad de la Quebrada de Humahuaca hasta la vibrante vida de sus festivales tradicionales, Jujuy ofrece una experiencia auténtica que combina paisajes asombrosos y una cultura arraigada. Descubre la magia de Jujuy, donde la naturaleza y la historia se entrelazan en un destino inolvidable.</p>
    <div class="d-grid gap-3">
        <a class="btn btn-primary btn-block" href="{% url 'producto:producto_todoproducto_detail' %}">Todos los destinos</a>
    </div>
{% endblock %}