{% extends 'home/base.html' %}

{% block content %}
    <p>Jujuy, un destino cautivador en el noroeste argentino, te sorprenderá con su impresionante belleza natural y su rica herencia cultural. Desde la majestuosidad de la Quebrada de Humahuaca hasta la vibrante vida de sus festivales tradicionales, Jujuy ofrece una experiencia auténtica que combina paisajes asombrosos y una cultura arraigada. Descubre la magia de Jujuy, donde la naturaleza y la historia se entrelazan en un destino inolvidable.</p>
{% endblock %}