{% extends 'home/base.html' %}

{% block content %}
    <p>El Glaciar Perito Moreno en Argentina es una maravilla natural asombrosa. Con su imponente masa de hielo y sus espectaculares desprendimientos, cautiva a los visitantes de todo el mundo. Explora pasarelas que te acercarán a su majestuosidad y contempla el espectáculo fascinante de bloques de hielo desprendiéndose y cayendo en el agua. Sumérgete en la grandeza del Glaciar Perito Moreno, una experiencia única en la Patagonia argentina.</p>
    <div class="d-grid gap-3">
        <a class="btn btn-primary btn-block" href="{% url 'producto:producto_todoproducto_detail' %}">Todos los destinos</a>
    </div>
{% endblock %}