{% extends 'home/base.html' %}

{% block content %}
    <p>El Parque Nacional Talampaya en Argentina es un tesoro natural único. Con su imponente paisaje de cañones rojizos y formaciones geológicas fascinantes, te transportará a un mundo prehistórico. Explora sus senderos y maravíllate con sus paredes de roca erosionadas durante millones de años. Descubre la belleza y la historia en el Parque Nacional Talampaya, un lugar donde la naturaleza y el tiempo se encuentran en perfecta armonía.</p>
{% endblock %}