{% extends 'home/base.html' %}

{% block content %}
    <p>Salta, apodada "La Linda", es una joya del noroeste argentino que combina la encantadora arquitectura colonial, paisajes impresionantes y una rica tradición cultural. Sus calles empedradas y plazas históricas te transportarán a un pasado fascinante, mientras que la música folclórica y la gastronomía regional te sumergirán en la autenticidad de la región. Desde la majestuosidad de la Quebrada de Humahuaca hasta los viñedos de Cafayate, Salta ofrece una experiencia inolvidable para aquellos que buscan historia, belleza natural y hospitalidad. Descubre la magia de Salta, donde la historia cobra vida y la naturaleza te asombra. </p>
    <div class="d-grid gap-3">
        <a class="btn btn-primary btn-block" href="{% url 'producto:producto_todoproducto_detail' %}">Todos los destinos</a>
    </div>

{% endblock %}
