{% extends 'home/base.html' %}

{% block content %}
    <p>Santa Rosa de Calamuchita, situada en la provincia de Córdoba, Argentina, es un destino encantador para los amantes de la naturaleza y la tranquilidad. Con su ubicación junto al río y rodeada de montañas, ofrece un entorno sereno y paisajes impresionantes. Disfruta de actividades al aire libre como el senderismo, el ciclismo y los paseos en kayak. Además, el ambiente acogedor de la ciudad, sus encantadoras calles y su rica cultura local te invitan a relajarte y disfrutar de una experiencia auténtica. Descubre la belleza natural y la serenidad de Santa Rosa de Calamuchita, un lugar perfecto para escapar del bullicio de la vida cotidiana.</p>
    <div class="d-grid gap-3">
        <a class="btn btn-primary btn-block" href="{% url 'producto:producto_todoproducto_detail' %}">Todos los destinos</a>
    </div>
{% endblock %}