{% extends 'home/base.html' %}
{% load static %}
{% block content %}
    <p>Somos una agencia de turismo argentina apasionada por mostrar la belleza y diversidad de nuestro país a los viajeros de todo el mundo. Nuestro equipo está compuesto por expertos en turismo y amantes de la aventura, dedicados a brindar experiencias únicas y memorables.

        En "Argentina Mágica" nos esforzamos por diseñar itinerarios personalizados que se ajusten a los intereses y preferencias de nuestros clientes. Ya sea que deseen explorar los impresionantes paisajes naturales, sumergirse en la rica cultura y historia, degustar la deliciosa gastronomía o sumergirse en las vibrantes tradiciones argentinas, estamos aquí para hacer realidad sus sueños de viaje.
        
        Trabajamos en estrecha colaboración con proveedores locales confiables, lo que nos permite ofrecer servicios de alta calidad y asegurar que cada detalle de su viaje esté cuidadosamente planificado. Nuestro objetivo es superar las expectativas de nuestros clientes y brindarles una experiencia inolvidable en Argentina.
        
        Ya sea que estén buscando una emocionante aventura en la Patagonia, una visita a las mundialmente famosas cataratas del Iguazú, un recorrido por los viñedos de Mendoza o un fascinante viaje cultural por Buenos Aires, estamos aquí para hacer que su viaje sea inolvidable y auténtico.
        
        En "Argentina Mágica", creemos en la importancia de la sostenibilidad y el respeto por el medio ambiente y las comunidades locales. Promovemos el turismo responsable y trabajamos para preservar y proteger los increíbles recursos naturales y culturales que hacen de Argentina un destino único.
        
        ¡Estamos emocionados de compartir nuestra pasión por Argentina con ustedes y ayudarles a crear recuerdos inolvidables en este hermoso país!</p>

    <a href="https://api.whatsapp.com/send?phone=TUNUMERODEWHATSAPP" target="_blank">
        <img src="{% static 'home/avatar/wsp.png' %}" alt="Enviar mensaje de WhatsApp" style="width: 50px; height: 50px;">
    </a>
{% endblock %}
