{% extends 'home/base.html' %}
{% load static %}
{% block content %}
    <p>Hola soy Maria Regina Merchan,soy profe de educacion fisica y luego de varios años trabajando en escuelas, decidi comenzar a capacitarme en diferentes areas. 
        Luego de investigar mucho di con python y decidi comenzar, aca estamos, cursando o mejor dicho, entregando el proyecto final. 
        La pagina web sobre viajes surge a raiz de que me gusta mucho conocer lugares nuevos, sobre todo de nuestra Argentina querida, que tiene lugares maravillosos y para todos los gustos.
        Al momento es un blog, donde uno puede consultar viajes y contratarlos de forma "externa", para ser mas claros, todos conocemos las paginas reconocidas como despegar o turismo city, pero sin embargo he contratado viajes por ej por km1.com y el blog no es muy lejano a este, lo cual me hace sentir muy orgullosa. Obviamente me falta un monton, horas de capacitacion y nuevos cursos. 
        Volviendo un poco al principio, me encanto como se dicto el curso, agradezco a Esteba, tutores y compañeros por las jornadas trabajadas.
        Les dejo mi contacto. 
        Gracias Totales! 
    </p>

    <a href="https://api.whatsapp.com/send?phone=TUNUMERODEWHATSAPP" target="_blank">
        <img src="{% static 'home/avatar/wsp.png' %}" alt="Enviar mensaje de WhatsApp" style="width: 50px; height: 50px;">
    </a><p>numero de wsp sin configurar</p>
{% endblock %}
